# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog
ensure vMenu
ensure nv_loadingscreen
ensure custom_map
ensure ped_ArcherBunny
ensure ped_DenjiChainsaw
ensure ped_SatoruGojo
ensure ped_chamber
ensure ped_KRATOS
ensure ped_Omen1
ensure ped_SpidermanClassic
ensure ped_JJKCCSuguruGeto
ensure ped_TanjiroKamada
ensure random_ped_spawn
exec resources/vMenu/config/permissions.cfg

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "secretroom, jambi, freeroam, vmenu, public"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "id-ID"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://media.discordapp.net/attachments/1420769331360563401/1450796390123835414/banner_secret_by_jambi.gif?ex=69f7cbad&is=69f67a2d&hm=6ea72e5da04ddf2800dad8f59e6a1594c8393f0544c31ae66a32cb08de97fe90&="
sets banner_connecting "https://media.discordapp.net/attachments/1420769331360563401/1450796390123835414/banner_secret_by_jambi.gif?ex=69f7cbad&is=69f67a2d&hm=6ea72e5da04ddf2800dad8f59e6a1594c8393f0544c31ae66a32cb08de97fe90&="

# Set your server's hostname
sv_hostname "SCRT Test server"

# Set your server's Project Name
sets sv_projectName "SCRT Test Server"

# Set your server's Project Description
sets sv_projectDesc "Jambi Store"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo_96x96.png

# convars which can be used in scripts
#set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""
sv_lan 0

# enable OneSync (required for server-side state awareness)
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on

# Optimasi untuk VPS low-spec
sv_rateLimiterMode aggressive
sv_maxTickRate 30
sv_endpointprivacy true

# Server player slot limit - Diubah kembali ke 48 karena limit lisensi FiveM gratis
sv_maxclients 48

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
#set steam_webApiKey ""

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "cfxk_BcIBLoR2s2ue6QgQ3CnC_17vseH"